## Evaluation Summary: Gradual Weisfeiler Leman

In [1]:
import json
import pandas as pd

In [2]:
best_hyperparameters = pd.DataFrame(
    columns=['refinement-steps', 'num-clusters', 'cluster-init-method', 'C', 'average-accuracy'],
    index=['KKI', 'PTC_FM', 'EGO-1', 'EGO-2', 'EGO-3', 'EGO-4', 'MSRC_9', 
           'NCI1', 'IMDB-BINARY','REDDIT-BINARY', 'DD', 'COLLAB']
)

dataset_accuracy = pd.DataFrame(
    columns=['accuracy-mean', 'accuracy-std'],
    index=['KKI', 'PTC_FM', 'EGO-1', 'EGO-2', 'EGO-3', 'EGO-4', 'MSRC_9', 
           'NCI1', 'IMDB-BINARY','REDDIT-BINARY', 'DD', 'COLLAB']
)

#### Dataset: KKI

In [3]:
dataset = "KKI"

Best Hyperparameter obtained

In [4]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 10,
 'num-clusters': 2,
 'cluster-init-method': 'kmeans++',
 'C': 10.0,
 'average-accuracy': 63.61}

Accuracies from 10 fold CV repeated 10 times

In [5]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          55.528000
std            3.459572
min           50.970000
25%           52.917500
50%           55.835000
75%           57.117500
max           62.780000

#### Dataset: PTC_FM

In [6]:
dataset = "PTC_FM"

Best Hyperparameter obtained

In [7]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 9,
 'num-clusters': 4,
 'cluster-init-method': 'forgy',
 'C': 10.0,
 'average-accuracy': 68.78}

Accuracies from 10 fold CV repeated 10 times

In [8]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          65.617000
std            1.137952
min           64.190000
25%           65.052500
50%           65.315000
75%           65.907500
max           67.920000

#### Dataset: EGO-1

In [9]:
dataset = "EGO-1"

Best Hyperparameter obtained

In [10]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 4,
 'num-clusters': 4,
 'cluster-init-method': 'kmeans++',
 'C': 10.0,
 'average-accuracy': 73.5}

Accuracies from 10 fold CV repeated 10 times

In [11]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          72.250000
std            1.230402
min           70.500000
25%           71.625000
50%           72.000000
75%           72.500000
max           74.500000

#### Dataset: EGO-2

In [12]:
dataset = "EGO-2"

Best Hyperparameter obtained

In [13]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 6,
 'num-clusters': 8,
 'cluster-init-method': 'kmeans++',
 'C': 1000.0,
 'average-accuracy': 76.0}

Accuracies from 10 fold CV repeated 10 times

In [14]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          73.200000
std            1.358103
min           71.000000
25%           72.125000
50%           73.250000
75%           74.000000
max           75.500000

#### Dataset: EGO-3

In [15]:
dataset = "EGO-3"

Best Hyperparameter obtained

In [16]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 7,
 'num-clusters': 8,
 'cluster-init-method': 'kmeans++',
 'C': 100.0,
 'average-accuracy': 74.0}

Accuracies from 10 fold CV repeated 10 times

In [17]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          70.400000
std            1.696401
min           66.000000
25%           70.500000
50%           70.750000
75%           71.375000
max           72.000000

#### Dataset: EGO-4

In [18]:
dataset = "EGO-4"

Best Hyperparameter obtained

In [19]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 3,
 'num-clusters': 8,
 'cluster-init-method': 'kmeans++',
 'C': 100.0,
 'average-accuracy': 81.0}

Accuracies from 10 fold CV repeated 10 times

In [20]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          79.500000
std            1.699673
min           76.500000
25%           78.500000
50%           79.250000
75%           80.375000
max           82.000000

#### Dataset: MSRC_9

In [21]:
dataset = "MSRC_9"

Best Hyperparameter obtained

In [22]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 2,
 'num-clusters': 16,
 'cluster-init-method': 'kmeans++',
 'C': 100.0,
 'average-accuracy': 93.22}

Accuracies from 10 fold CV repeated 10 times

In [23]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          90.588000
std            0.932152
min           89.150000
25%           90.030000
50%           90.490000
75%           91.282500
max           91.880000

#### Dataset: NCI1

In [24]:
dataset = "NCI1"

Best Hyperparameter obtained

In [25]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 10,
 'num-clusters': 16,
 'cluster-init-method': 'forgy',
 'C': 10.0,
 'average-accuracy': 77.42}

Accuracies from 10 fold CV repeated 10 times

In [26]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          77.426000
std            0.565257
min           76.600000
25%           77.042500
50%           77.445000
75%           77.652500
max           78.490000

#### Dataset: IMDB-BINARY

In [27]:
dataset = "IMDB-BINARY"

Best Hyperparameter obtained

In [28]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 3,
 'num-clusters': 16,
 'cluster-init-method': 'forgy',
 'C': 10.0,
 'average-accuracy': 75.5}

Accuracies from 10 fold CV repeated 10 times

In [29]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          74.850000
std            0.641613
min           74.000000
25%           74.325000
50%           74.850000
75%           75.225000
max           76.000000

#### Dataset: DD

In [30]:
dataset = "DD"

Best Hyperparameter obtained

In [31]:
with open(f"evaluation-results/{dataset}-Evaluation/best_hyperparameters.txt", mode="r") as f:
    params = json.loads(f.readline().replace("\'", "\""))

for key in params.keys():
    best_hyperparameters.loc[dataset, key] = params[key]

params

{'refinement-steps': 9,
 'num-clusters': 16,
 'cluster-init-method': 'forgy',
 'C': 10.0,
 'average-accuracy': 79.54}

Accuracies from 10 fold CV repeated 10 times

In [32]:
accuracies = pd.read_csv(f"evaluation-results/{dataset}-Evaluation/trial-accuracies.csv", sep=";")

accuracies_stat = accuracies[["Average-Accuracy"]].describe()

dataset_accuracy.loc[dataset, 'accuracy-mean'] = accuracies_stat["Average-Accuracy"]["mean"]
dataset_accuracy.loc[dataset, 'accuracy-std'] = accuracies_stat["Average-Accuracy"]["std"]

accuracies_stat

       Average-Accuracy
count         10.000000
mean          78.889000
std            0.365284
min           78.270000
25%           78.652500
50%           79.075000
75%           79.120000
max           79.290000

#### Summary

In [33]:
best_hyperparameters

,refinement-steps,num-clusters,cluster-init-method,C,average-accuracy
KKI,10,2,kmeans++,10.0,63.61
PTC_FM,9,4,forgy,10.0,68.78
EGO-1,4,4,kmeans++,10.0,73.5
EGO-2,6,8,kmeans++,1000.0,76.0
EGO-3,7,8,kmeans++,100.0,74.0
EGO-4,3,8,kmeans++,100.0,81.0
MSRC_9,2,16,kmeans++,100.0,93.22
NCI1,10,16,forgy,10.0,77.42
IMDB-BINARY,3,16,forgy,10.0,75.5
REDDIT-BINARY,NaN,NaN,NaN,NaN,NaN
DD,9,16,forgy,10.0,79.54
COLLAB,NaN,NaN,NaN,NaN,NaN

In [34]:
dataset_accuracy

              accuracy-mean accuracy-std
KKI                  55.528     3.459572
PTC_FM               65.617     1.137952
EGO-1                 72.25     1.230402
EGO-2                  73.2     1.358103
EGO-3                  70.4     1.696401
EGO-4                  79.5     1.699673
MSRC_9               90.588     0.932152
NCI1                 77.426     0.565257
IMDB-BINARY           74.85     0.641613
REDDIT-BINARY           NaN          NaN
DD                   78.889     0.365284
COLLAB                  NaN          NaN